<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <base href="../../" />
    <link rel="stylesheet" href="dmdoc.css" />
    <title>&#x2F;datum&#x2F;component&#x2F;memetic - Daedalus Dock</title>
</head>
<body>
<header>
    <a href="index.html">Daedalus Dock</a> -
    <a href="index.html#modules">Modules</a> -
    <a href="index.html#types">Types</a>
 &mdash; <a href="datum/component/memetic.html#var">Var Details</a></header>
<main>
<h1>memetic <aside>/<a href="datum.html">datum</a>/<a href="datum/component.html">component</a>/<a href="datum/component/memetic.html">memetic</a></aside>
        
    
            <a href="https://github.com/Foundation-19/Daedelus-Foundation/blob/f8f51dd757de0c0302ad25ffe182ed58ab7083fb/code/datums/components/memetic.dm#L2">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;memetic.dm 2"/></a></h1>

<table class="summary" cellspacing="0"><tr><td colspan="2"><h2>Vars</h2></td></tr>
            <tr><th><a href="datum/component/memetic.html#var/affected_mobs_weakref">affected_mobs_weakref</a></th><td>List of affected humans</td></tr>
            <tr><th><a href="datum/component/memetic.html#var/affected_proc">affected_proc</a></th><td>Proc to run on affected humans</td></tr>
            <tr><th><a href="datum/component/memetic.html#var/memetic_flags">memetic_flags</a></th><td>Memetic bitflags to determine what should be counted as affected</td></tr>
            <tr><th><a href="datum/component/memetic.html#var/memetic_sounds">memetic_sounds</a></th><td>List of sounds that count as being memetic</td></tr></table>
    <h2 id="var">Var Details</h2><h3 id="var/affected_mobs_weakref"><aside class="declaration">var </aside>affected_mobs_weakref
            <aside>&ndash; /list</aside>
        
    
            <a href="https://github.com/Foundation-19/Daedelus-Foundation/blob/f8f51dd757de0c0302ad25ffe182ed58ab7083fb/code/datums/components/memetic.dm#L4">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;memetic.dm 4"/></a></h3>
        <p>List of affected humans</p><h3 id="var/affected_proc"><aside class="declaration">var </aside>affected_proc
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/Foundation-19/Daedelus-Foundation/blob/f8f51dd757de0c0302ad25ffe182ed58ab7083fb/code/datums/components/memetic.dm#L8">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;memetic.dm 8"/></a></h3>
        <p>Proc to run on affected humans</p><h3 id="var/memetic_flags"><aside class="declaration">var </aside>memetic_flags
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/Foundation-19/Daedelus-Foundation/blob/f8f51dd757de0c0302ad25ffe182ed58ab7083fb/code/datums/components/memetic.dm#L6">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;memetic.dm 6"/></a></h3>
        <p>Memetic bitflags to determine what should be counted as affected</p><h3 id="var/memetic_sounds"><aside class="declaration">var </aside>memetic_sounds
            <aside>&ndash; /list</aside>
        
    
            <a href="https://github.com/Foundation-19/Daedelus-Foundation/blob/f8f51dd757de0c0302ad25ffe182ed58ab7083fb/code/datums/components/memetic.dm#L12">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;memetic.dm 12"/></a></h3>
        <p>List of sounds that count as being memetic</p></main>
<footer>
    daedalus.dme
    <a href="https://github.com/Foundation-19/Daedelus-Foundation/tree/f8f51dd757de0c0302ad25ffe182ed58ab7083fb">f8f51dd</a>
        (master) &mdash; <a href="https://github.com/SpaceManiac/SpacemanDMM/blob/master/crates/dmdoc/README.md">dmdoc 1.8.0</a></footer>
</body>
</html>
